In [ ]:
# Sam Maurer, June 2015

# In order to run this demo, you need to:
#  1. Switch to the rental-hedonics branch of ual/bayarea_urbansim
#  2. Add the data file to the appropriate directory
#       http://samuelmaurer.info/share/sfbay_craigslist.csv

In [1]:
%load_ext autoreload
%autoreload 2
if 'sim' not in globals():
    import os; os.chdir('..')
import models
import urbansim.sim.simulation as sim

### 1. Look at the Craigslist data

In [2]:
# This is what the Craigslist table looks like
cl = sim.get_table('craigslist').to_frame()
cl.head(5)

Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)

,neighborhood,price,bedrooms,date,sqft,longitude,latitude,price_sqft,node_id,zone_id
0,twin peaks / diamond hts,4500,2,2014-05-11,1200,-122.438300,37.745000,3.750000,300155,800
1,sunnyvale,2650,2,2014-05-11,1040,-122.008131,37.353699,2.548077,143129,960
2,glen park,3100,2,2014-05-11,1000,-122.439743,37.731584,3.100000,125905,1031
3,redwood city,1850,1,2014-05-11,792,-122.234294,37.491715,2.335859,143879,963
4,walnut creek,1325,1,2014-05-11,642,-122.087751,37.923448,2.063863,70923,888

In [3]:
cl.describe()

,price,bedrooms,sqft,longitude,latitude,price_sqft,node_id,zone_id
count,73644.000000,68812.000000,73644.00000,73644.000000,73644.000000,73644.000000,73644.000000,73603.000000
mean,3806.642944,1.918575,1196.62111,-122.108903,37.639416,4.697802,156857.443906,890.963031
std,146802.055710,0.935159,31192.63512,1.359750,0.863417,183.768413,100783.186320,82.436500
min,1.000000,1.000000,1.00000,-159.609375,-85.561269,0.000154,62.000000,747.000000
25%,1831.000000,1.000000,720.00000,-122.286807,37.383128,2.055256,80038.000000,831.000000
50%,2330.500000,2.000000,904.00000,-122.050473,37.601374,2.587519,149462.000000,879.000000
75%,2986.000000,2.000000,1160.00000,-121.952270,37.844037,3.135714,190924.000000,956.000000
max,26722744.000000,8.000000,8388607.00000,146.425781,79.858833,31145.389277,354659.000000,1157.000000

### 2. Set up the network vars

In [4]:
sim.run(["neighborhood_vars"])

Running model 'neighborhood_vars'
Computing accessibility variables
Computing sum_residential_units
Filling column building_type_id with value 1 (0 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1966.0 (0 values)
Filling column non_residential_sqft with value 0 (0 values)
Removed 4 rows because they contain missing values
Computing sum_nonresidential_units
Removed 4 rows because they contain missing values
Computing ave_sqft_per_unit
Removed 2 rows because they contain missing values
Computing ave_lot_size_per_unit
Removed 2 rows because they contain missing values
Computing population
Removed 79699 rows because they contain missing values
Computing poor
Removed 53966 rows because they contain missing values
Computing renters
Removed 4919 rows because they contain missing values
Computing sfdu
Removed 1 rows because they contain missing values
Computing ave_hhsize
Removed 79699 rows because they contain missing values
Computing jobs
Removed 335847 rows because they contain missing values
Computing ave_income
Removed 79699 rows because they contain missing values
       sum_residential_units  sum_nonresidential_units  ave_sqft_per_unit  \
count          226060.000000             226060.000000      226060.000000
mean                5.959514                  5.033062           7.253990
std                 1.829774                  2.532726           1.322188
min                 0.000000                  0.000000           0.000000
25%                 5.517122                  3.797934           7.274734
50%                 6.443716                  5.747370           7.436141
75%                 7.027581                  6.794828           7.619552
max                10.149053                 11.645306          12.261587

       ave_lot_size_per_unit     population           poor        renters  \
count          226060.000000  226060.000000  226060.000000  226060.000000
mean                8.929325       6.825222       5.364583       4.052799
std                 1.933885       1.974722       1.966804       1.519042
min                 0.000000       0.000000       0.000000       0.000000
25%                 8.563902       6.400006       4.527863       3.515182
50%                 8.892104       7.388408       5.782053       4.429089
75%                 9.366335       7.991653       6.655447       5.041201
max                17.866968      10.553695      10.054707       7.257352

                sfdu     ave_hhsize           jobs     ave_income
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        5.343503       1.248314       5.301676      10.934405
std         1.749075       0.255475       2.241773       1.963425
min         0.000000       0.000000       0.000000       0.000000
25%         4.958143       1.199913       4.195709      11.037583
50%         5.906678       1.279782       5.800459      11.259089
75%         6.438469       1.367688       6.826297      11.488537
max         8.095656       2.079442      11.713364      13.171155
Time to execute model 'neighborhood_vars': 44.92s
Total time to execute: 44.92s

### 3. Estimate a hedonic

In [5]:
sim.run(["rh_cl_estimate"])

Running model 'rh_cl_estimate'
Found 4821 nas or inf (out of 73603) in column bedrooms

AssertionError: NAs were found in dataframe, please fix