In [1]:
# Sam Maurer, July 2015

# In order to run this demo, you need to switch to the arb branch of ual/bayarea_urbansim

In [1]:
%load_ext autoreload
%autoreload 2
if 'sim' not in globals():
    import os; os.chdir('..')
import models
import urbansim.sim.simulation as sim

### 1. Set up the data

In [2]:
# trigger adding unit ids to the households table
_ = sim.get_table('residential_units')

Filling column building_type_id with value 1 (0 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1966.0 (0 values)
Filling column non_residential_sqft with value 0 (0 values)
Initial unit tenure assignment: 56% owner occupied, 4% unfilled

In [3]:
# set up the network aggregations
sim.run(["neighborhood_vars"])

Running model 'neighborhood_vars'
Computing accessibility variables
Computing sum_residential_units
Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)
Removed 4 rows because they contain missing values
Computing sum_nonresidential_units
Removed 4 rows because they contain missing values
Computing ave_sqft_per_unit
Removed 2 rows because they contain missing values
Computing ave_lot_size_per_unit
Removed 2 rows because they contain missing values
Computing population
Removed 79699 rows because they contain missing values
Computing poor
Removed 53966 rows because they contain missing values
Computing renters
Removed 4919 rows because they contain missing values
Computing sfdu
Removed 1 rows because they contain missing values
Computing ave_hhsize
Removed 79699 rows because they contain missing values
Computing jobs
Removed 335847 rows because they contain missing values
Computing ave_income
Removed 79699 rows because they contain missing values
       sum_residential_units  sum_nonresidential_units  ave_sqft_per_unit  \
count          226060.000000             226060.000000      226060.000000
mean                5.959514                  0.356974           7.253990
std                 1.829774                  1.369450           1.322188
min                 0.000000                  0.000000           0.000000
25%                 5.517122                  0.000000           7.274734
50%                 6.443716                  0.000000           7.436141
75%                 7.027581                  0.000000           7.619552
max                10.149053                  9.289473          12.261587

       ave_lot_size_per_unit     population           poor        renters  \
count          226060.000000  226060.000000  226060.000000  226060.000000
mean                8.929325       6.825222       5.364583       4.052799
std                 1.933885       1.974722       1.966804       1.519042
min                 0.000000       0.000000       0.000000       0.000000
25%                 8.563902       6.400006       4.527863       3.515182
50%                 8.892104       7.388408       5.782053       4.429089
75%                 9.366335       7.991653       6.655447       5.041201
max                17.866968      10.553695      10.054707       7.257352

                sfdu     ave_hhsize           jobs     ave_income
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        5.343503       1.248314       5.301676      10.934405
std         1.749075       0.255475       2.241773       1.963425
min         0.000000       0.000000       0.000000       0.000000
25%         4.958143       1.199913       4.195709      11.037583
50%         5.906678       1.279782       5.800459      11.259089
75%         6.438469       1.367688       6.826297      11.488537
max         8.095656       2.079442      11.713364      13.171155
Time to execute model 'neighborhood_vars': 61.69s
Total time to execute: 61.69s

In [4]:
# run the hedonic simulations to get fitted prices
sim.run(["rsh_simulate", "rrh_simulate"])

Running model 'rsh_simulate'
count    2783946.000000
mean         468.099959
std          912.732603
min            4.809898
25%          330.137166
50%          397.537806
75%          491.778798
max       141696.511604
dtype: float64
Time to execute model 'rsh_simulate': 10.73s
Running model 'rrh_simulate'
count    2783946.000000
mean           2.065064
std            1.193466
min            0.187557
25%            1.503407
50%            1.843073
75%            2.329659
max           35.317511
dtype: float64
Time to execute model 'rrh_simulate': 5.22s
Total time to execute: 15.95s

### 2. Estimate some new HLCM's

In [6]:
# this model is defined in hlcm_owner.yaml and models.py

sim.run(["hlcm_owner_estimate"])

Running model 'hlcm_owner_estimate'
LCM RESULTS FOR SEGMENT 1

Null Log-liklihood: -6811.047
Log-liklihood at convergence: -6782.110
Log-liklihood Ratio: 0.004

+----------------------------------+-------------+------------+---------+
| Component                        | Coefficient | Std. Error | T-Score |
+----------------------------------+-------------+------------+---------+
| np.log1p(unit_residential_price) |    -0.266   |   0.086    |  -3.105 |
| sum_residential_units            |    -0.086   |   0.033    |  -2.559 |
| ave_income                       |    -0.241   |   0.041    |  -5.833 |
| autoPeakTotal                    |    -0.008   |   0.038    |  -0.213 |
+----------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 2

Null Log-liklihood: -6829.467
Log-liklihood at convergence: -6788.045
Log-liklihood Ratio: 0.006

+----------------------------------+-------------+------------+---------+
| Component                        | Coefficient | Std. Error | T-Score |
+----------------------------------+-------------+------------+---------+
| np.log1p(unit_residential_price) |    -0.218   |   0.088    |  -2.477 |
| sum_residential_units            |    -0.106   |   0.033    |  -3.236 |
| ave_income                       |    -0.118   |   0.042    |  -2.793 |
| autoPeakTotal                    |    -0.096   |   0.037    |  -2.575 |
+----------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 3

Null Log-liklihood: -6815.652
Log-liklihood at convergence: -6765.245
Log-liklihood Ratio: 0.007

+----------------------------------+-------------+------------+---------+
| Component                        | Coefficient | Std. Error | T-Score |
+----------------------------------+-------------+------------+---------+
| np.log1p(unit_residential_price) |    -0.428   |   0.091    |  -4.684 |
| sum_residential_units            |    -0.053   |   0.034    |  -1.566 |
| ave_income                       |    0.341    |   0.044    |  7.673  |
| autoPeakTotal                    |    -0.091   |   0.041    |  -2.227 |
+----------------------------------+-------------+------------+---------+
LCM RESULTS FOR SEGMENT 4

Null Log-liklihood: -6834.073
Log-liklihood at convergence: -6520.733
Log-liklihood Ratio: 0.046

+----------------------------------+-------------+------------+---------+
| Component                        | Coefficient | Std. Error | T-Score |
+----------------------------------+-------------+------------+---------+
| np.log1p(unit_residential_price) |    -0.200   |   0.094    |  -2.135 |
| sum_residential_units            |    -0.131   |   0.031    |  -4.289 |
| ave_income                       |    1.716    |   0.046    |  37.232 |
| autoPeakTotal                    |    0.026    |   0.043    |  0.609  |
+----------------------------------+-------------+------------+---------+
Time to execute model 'hlcm_owner_estimate': 3117.90s
Total time to execute: 3117.90s

In [ ]:
sim.run(["hlcm_owner_estimate"])

In [ ]:
# this model is defined in hlcm_renter.yaml and models.py

sim.run(["hlcm_renter_estimate"])

In [ ]:
# to try variations, make a new yaml file and run this to register it

@sim.model()
def hlcm_owner_estimate_NEW(households, residential_units, unit_aggregations):
    return utils.lcm_estimate("hlcm_owner_NEW.yaml", households, "unit_id",
                              residential_units, unit_aggregations)

sim.run(["hlcm_owner_estimate_NEW"])

In [14]:
df1 = sim.get_table('residential_units').to_frame(
            columns=['unit_residential_price', 'node_id'])
df2 = sim.get_table('nodes').to_frame(
            columns=['sum_residential_units', 'ave_income', 'autoPeakTotal'])
df3 = sim.get_table('logsums').to_frame(
            columns=['autoPeakTotal', 'node_id'])

In [17]:
print(df1.describe())
print(df2.describe())
print(df3.describe())

       unit_residential_price
count          2785789.000000
mean               467.790277
std                912.510016
min                  0.000000
25%                330.009162
50%                397.432986
75%                491.675611
max             141696.511604
       sum_residential_units     ave_income
count          226060.000000  226060.000000
mean                5.959514      10.934405
std                 1.829774       1.963425
min                 0.000000       0.000000
25%                 5.517122      11.037583
50%                 6.443716      11.259089
75%                 7.027581      11.488537
max                10.149053      13.171155
       autoPeakTotal
count    1454.000000
mean       11.806047
std         0.814177
min         6.264300
25%        11.482000
50%        12.041550
75%        12.313925
max        13.082800

In [ ]:
# there's not much variation in any of those three aggregation terms, maybe try others?

In [18]:
df = sim.get_table('nodes').to_frame()

In [19]:
print(df.describe())

       sum_residential_units  sum_nonresidential_units  ave_sqft_per_unit  \
count          226060.000000             226060.000000      226060.000000
mean                5.959514                  0.356974           7.253990
std                 1.829774                  1.369450           1.322188
min                 0.000000                  0.000000           0.000000
25%                 5.517122                  0.000000           7.274734
50%                 6.443716                  0.000000           7.436141
75%                 7.027581                  0.000000           7.619552
max                10.149053                  9.289473          12.261587

       ave_lot_size_per_unit     population           poor        renters  \
count          226060.000000  226060.000000  226060.000000  226060.000000
mean                8.929325       6.825222       5.364583       4.052799
std                 1.933885       1.974722       1.966804       1.519042
min                 0.000000       0.000000       0.000000       0.000000
25%                 8.563902       6.400006       4.527863       3.515182
50%                 8.892104       7.388408       5.782053       4.429089
75%                 9.366335       7.991653       6.655447       5.041201
max                17.866968      10.553695      10.054707       7.257352

                sfdu     ave_hhsize           jobs     ave_income
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        5.343503       1.248314       5.301676      10.934405
std         1.749075       0.255475       2.241773       1.963425
min         0.000000       0.000000       0.000000       0.000000
25%         4.958143       1.199913       4.195709      11.037583
50%         5.906678       1.279782       5.800459      11.259089
75%         6.438469       1.367688       6.826297      11.488537
max         8.095656       2.079442      11.713364      13.171155

In [6]:
df = sim.get_table('households').to_frame()

In [7]:
df[:5]

,taz,serialno,puma5,income,persons,hht,unittype,noc,bldgsz,tenure,...,hadwpst,hadkids,bucketbin,originalpuma,hmultiunit,unit_id,building_id,income_quartile,zone_id,node_id
household_id,,,,,,,,,,,,,,,,,,,,,
227454,878,9279874,2404,17000,2,3,0,1,5,3,...,0,0,2,2404,1,-1,-1,1,-1,-1
2687058,1092,8097339,2103,0,1,0,2,0,0,0,...,0,0,9,2103,1,-1,-1,1,-1,-1
2687063,1092,3530666,2103,0,1,0,2,0,0,0,...,0,0,4,2103,1,-1,-1,1,-1,-1
2214782,930,5691854,2402,159700,3,5,0,0,2,1,...,0,0,4,2402,0,-1,-1,4,-1,-1
2687065,1092,8097339,2103,0,1,0,2,0,0,0,...,0,0,9,2103,1,-1,-1,1,-1,-1

In [15]:
len(df)

2732722

In [4]:
for a in list(df.columns.values):
    print "%s, %d" % (a, len(df[df[a].isnull()]))

taz, 0
serialno, 0
puma5, 0
income, 0
persons, 0
hht, 0
unittype, 0
noc, 0
bldgsz, 0
tenure, 0
vehicl, 0
hinccat1, 0
hinccat2, 0
hhagecat, 0
hsizecat, 0
hfamily, 0
hunittype, 0
hnoccat, 0
hwrkrcat, 0
h0004, 0
h0511, 0
h1215, 0
h1617, 0
h1824, 0
h2534, 0
h3549, 0
h5064, 0
h6579, 0
h80up, 0
hworkers, 0
hwork_f, 0
hwork_p, 0
huniv, 0
hnwork, 0
hretire, 0
hpresch, 0
hschpred, 0
hschdriv, 0
htypdwel, 0
hownrent, 0
hadnwst, 0
hadwpst, 0
hadkids, 0
bucketbin, 0
originalpuma, 0
hmultiunit, 0
building_id, 0
node_id, 0
income_quartile, 0
zone_id, 0

In [2]:
df = sim.get_table('buildings').to_frame()

Filling column building_type_id with value 1 (0 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1966.0 (0 values)
Filling column non_residential_sqft with value 0 (0 values)
Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)
Initial unit tenure assignment: 56% owner occupied, 4% unfilled

In [3]:
df[:5]

,parcel_id,residential_units,residential_sqft,non_residential_sqft,building_sqft,stories,year_built,redfin_sale_year,building_type_id,residential_price,...,zone_id,residential_rent,sqft_per_job,lot_size_per_unit,vacant_job_spaces,vacant_residential_units,general_type,sqft_per_unit,job_spaces,node_id
building_id,,,,,,,,,,,,,,,,,,,,,
1,69516,1,794,0,794,1,1939,2012,1,0,...,893,0,400,5200.062320,0,0,Residential,794,0,11584
2,69517,1,1600,0,1600,1,1939,2012,1,0,...,893,0,400,5200.063760,0,0,Residential,1600,0,11584
3,69518,1,1334,0,1334,1,1939,2012,1,0,...,893,0,400,5200.029703,0,0,Residential,1334,0,11585
4,69519,1,1220,0,1220,1,1939,2012,1,0,...,893,0,400,5200.144623,0,1,Residential,1220,0,11585
5,69520,1,892,0,892,1,1943,2012,1,0,...,893,0,400,5200.027559,0,0,Residential,892,0,11585

In [4]:
len(df)

1841288

In [5]:
for a in list(df.columns.values):
    print "%s, %d" % (a, len(df[df[a].isnull()]))

parcel_id, 0
residential_units, 0
residential_sqft, 0
non_residential_sqft, 0
building_sqft, 0
stories, 0
year_built, 0
redfin_sale_year, 0
building_type_id, 0
residential_price, 0
non_residential_price, 0
zone_id, 0
residential_rent, 0
sqft_per_job, 0
lot_size_per_unit, 0
vacant_job_spaces, 0
vacant_residential_units, 0
general_type, 0
sqft_per_unit, 0
job_spaces, 0
node_id, 0

In [5]:
sim.get_table('residential_units').to_frame()[:5]

Initial unit tenure assignment: 56% owner occupied, 4% unfilled

,building_id,deed_restricted,num_units,unit_num,unit_residential_price,unit_residential_rent,unit_tenure,vacant_units,submarket_id
unit_id,,,,,,,,,
0,1,0,1,0,0,0,1,0,893
1,2,0,1,0,0,0,0,0,893
2,3,0,1,0,0,0,0,0,893
3,4,0,1,0,0,0,0,1,893
4,5,0,1,0,0,0,0,0,893

In [4]:
sim.get_table('logsums').to_frame()[:5]

,autoPeakRetail,autoPeakTotal,autoOffPeakRetail,autoOffPeakTotal,transitPeakRetail,transitPeakTotal,transitOffPeakRetail,transitOffPeakTotal,nonMotorizedRetail,nonMotorizedTotal
taz,,,,,,,,,,
1,10.5416,13.0616,10.5312,13.0511,8.3954,11.1182,8.3003,11.0119,8.6157,11.3610
2,10.5336,13.0557,10.5185,13.0410,8.0848,10.8372,7.9369,10.6877,8.6104,11.3717
3,10.5082,13.0308,10.4998,13.0225,8.0456,10.7516,7.8563,10.5597,8.4067,11.1668
4,10.5609,13.0801,10.5458,13.0651,8.4306,11.1391,8.3426,11.0507,8.7110,11.4524
5,10.5458,13.0613,10.5325,13.0484,8.3395,11.0483,8.2755,10.9790,8.4145,11.1588