## Rental hedonics estimation

Sam Maurer, July 2015

In [2]:
%load_ext autoreload
%autoreload 2
if 'sim' not in globals():
    import os; os.chdir('..')
import models
import urbansim.sim.simulation as sim
import pandas as pd
pd.set_option('display.max_columns', 500)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### 1. Look at the Craigslist data

In [3]:
cl = sim.get_table('craigslist').to_frame()
cl.head(5)

Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)

,neighborhood,price,bedrooms,date,sqft_per_unit,longitude,latitude,price_sqft,node_id,zone_id
0,twin peaks / diamond hts,4500,2,2014-05-11,1200,-122.438300,37.745000,3.750000,300155,800
1,sunnyvale,2650,2,2014-05-11,1040,-122.008131,37.353699,2.548077,143129,960
2,glen park,3100,2,2014-05-11,1000,-122.439743,37.731584,3.100000,125905,1031
3,redwood city,1850,1,2014-05-11,792,-122.234294,37.491715,2.335859,143879,963
4,walnut creek,1325,1,2014-05-11,642,-122.087751,37.923448,2.063863,70923,888

In [4]:
cl.describe()

,price,bedrooms,sqft_per_unit,longitude,latitude,price_sqft,node_id,zone_id
count,73644.000000,73644.000000,73644.00000,73644.000000,73644.000000,73644.000000,73644.000000,73603.000000
mean,3806.642944,1.858305,1196.62111,-122.108903,37.639416,4.697802,156857.443906,890.963031
std,146802.055710,0.932134,31192.63512,1.359750,0.863417,183.768413,100783.186320,82.436500
min,1.000000,1.000000,1.00000,-159.609375,-85.561269,0.000154,62.000000,747.000000
25%,1831.000000,1.000000,720.00000,-122.286807,37.383128,2.055256,80038.000000,831.000000
50%,2330.500000,2.000000,904.00000,-122.050473,37.601374,2.587519,149462.000000,879.000000
75%,2986.000000,2.000000,1160.00000,-121.952270,37.844037,3.135714,190924.000000,956.000000
max,26722744.000000,8.000000,8388607.00000,146.425781,79.858833,31145.389277,354659.000000,1157.000000

### 2. Set up the network vars

In [5]:
sim.run(["neighborhood_vars"])

Running model 'neighborhood_vars'
Computing accessibility variables
Computing sum_residential_units
Filling column building_type_id with value 1 (0 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1966.0 (0 values)
Filling column non_residential_sqft with value 0 (0 values)
Removed 4 rows because they contain missing values
Computing sum_nonresidential_units
Removed 4 rows because they contain missing values
Computing ave_sqft_per_unit
Removed 2 rows because they contain missing values
Computing ave_lot_size_per_unit
Removed 2 rows because they contain missing values
Computing population
Removed 79699 rows because they contain missing values
Computing poor
Removed 53966 rows because they contain missing values
Computing renters
Removed 4919 rows because they contain missing values
Computing sfdu
Removed 1 rows because they contain missing values
Computing ave_hhsize
Removed 79699 rows because they contain missing values
Computing jobs
Removed 335847 rows because they contain missing values
Computing ave_income
Removed 79699 rows because they contain missing values
       sum_residential_units  sum_nonresidential_units  ave_sqft_per_unit  \
count          226060.000000             226060.000000      226060.000000
mean                5.959514                  0.356974           7.253990
std                 1.829774                  1.369450           1.322188
min                 0.000000                  0.000000           0.000000
25%                 5.517122                  0.000000           7.274734
50%                 6.443716                  0.000000           7.436141
75%                 7.027581                  0.000000           7.619552
max                10.149053                  9.289473          12.261587

       ave_lot_size_per_unit     population           poor        renters  \
count          226060.000000  226060.000000  226060.000000  226060.000000
mean                8.929325       6.825222       5.364583       4.052799
std                 1.933885       1.974722       1.966804       1.519042
min                 0.000000       0.000000       0.000000       0.000000
25%                 8.563902       6.400006       4.527863       3.515182
50%                 8.892104       7.388408       5.782053       4.429089
75%                 9.366335       7.991653       6.655447       5.041201
max                17.866968      10.553695      10.054707       7.257352

                sfdu     ave_hhsize           jobs     ave_income
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        5.343503       1.248314       5.301676      10.934405
std         1.749075       0.255475       2.241773       1.963425
min         0.000000       0.000000       0.000000       0.000000
25%         4.958143       1.199913       4.195709      11.037583
50%         5.906678       1.279782       5.800459      11.259089
75%         6.438469       1.367688       6.826297      11.488537
max         8.095656       2.079442      11.713364      13.171155
Time to execute model 'neighborhood_vars': 52.65s
Total time to execute: 52.65s

### 3. Estimate a rental listings hedonic

In [ ]:
# The model expression is in rrh.yaml; price_per_sqft is the asking monthly rent per square 
# foot from the Craigslist listings. Price, sqft, and bedrooms are specific to the unit, 
# while all the other variables are aggregations at the node or zone level. Note that we 
# can't use bedrooms in the simulation stage because it's not in the unit data.

In [6]:
sim.run(["rrh_estimate"])

Running model 'rrh_estimate'
                            OLS Regression Results
==============================================================================
Dep. Variable:     np.log(price_sqft)   R-squared:                       0.497
Model:                            OLS   Adj. R-squared:                  0.497
Method:                 Least Squares   F-statistic:                     6566.
Date:                Thu, 06 Aug 2015   Prob (F-statistic):               0.00
Time:                        22:46:35   Log-Likelihood:                -5272.0
No. Observations:               73168   AIC:                         1.057e+04
Df Residuals:                   73156   BIC:                         1.068e+04
Df Model:                          11
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------------------
Intercept                    7.9410      0.083     95.593      0.000         7.778     8.104
np.log1p(sqft_per_unit)     -0.3516      0.002   -149.724      0.000        -0.356    -0.347
ave_income                   0.0265      0.001     18.664      0.000         0.024     0.029
poor                        -0.1860      0.002    -78.903      0.000        -0.191    -0.181
renters                      0.0405      0.003     16.080      0.000         0.036     0.045
sfdu                        -0.0938      0.001   -101.182      0.000        -0.096    -0.092
autoPeakTotal               -0.7995      0.015    -54.722      0.000        -0.828    -0.771
transitPeakTotal             0.0197      0.001     33.946      0.000         0.019     0.021
autoOffPeakRetail            0.4400      0.016     27.611      0.000         0.409     0.471
ave_lot_size_per_unit       -0.0323      0.001    -26.609      0.000        -0.035    -0.030
sum_nonresidential_units     0.0035      0.001      5.206      0.000         0.002     0.005
sum_residential_units        0.2926      0.004     83.368      0.000         0.286     0.299
==============================================================================
Omnibus:                     2883.927   Durbin-Watson:                   0.552
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6317.346
Skew:                          -0.258   Prob(JB):                         0.00
Kurtosis:                       4.344   Cond. No.                     2.24e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.24e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
Time to execute model 'rrh_estimate': 0.39s
Total time to execute: 0.39s

In [ ]:
# to try variations, create a new yaml file and run this to register it

@sim.model()
def rh_cl_estimate_NEW(craigslist, aggregations):
    return utils.hedonic_estimate("rrh_NEW.yaml", craigslist, aggregations)

sim.run(["rrh_estimate_NEW"])

### 4. Compare to current sales hedonic

In [7]:
sim.run(["rsh_estimate"])

Running model 'rsh_estimate'
                              OLS Regression Results
==================================================================================
Dep. Variable:     np.log(price_per_sqft)   R-squared:                       0.419
Model:                                OLS   Adj. R-squared:                  0.419
Method:                     Least Squares   F-statistic:                     5465.
Date:                    Thu, 06 Aug 2015   Prob (F-statistic):               0.00
Time:                            22:46:57   Log-Likelihood:                -30748.
No. Observations:                  105997   AIC:                         6.153e+04
Df Residuals:                      105982   BIC:                         6.167e+04
Df Model:                              14
Covariance Type:                nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------------
Intercept                        3.5888      0.072     49.859      0.000         3.448     3.730
I(year_built < 1940)[T.True]     0.1050      0.003     30.452      0.000         0.098     0.112
I(year_built > 2000)[T.True]    -0.0099      0.003     -3.261      0.001        -0.016    -0.004
np.log1p(sqft_per_unit)         -0.4544      0.003   -159.373      0.000        -0.460    -0.449
ave_income                       0.3234      0.006     51.323      0.000         0.311     0.336
stories                          0.0892      0.002     38.418      0.000         0.085     0.094
poor                            -0.0836      0.003    -24.152      0.000        -0.090    -0.077
renters                          0.1678      0.003     58.698      0.000         0.162     0.173
sfdu                            -0.0856      0.002    -40.953      0.000        -0.090    -0.082
autoPeakTotal                    0.3637      0.006     61.343      0.000         0.352     0.375
transitPeakTotal                 0.0106      0.001     16.907      0.000         0.009     0.012
autoOffPeakRetail               -0.3021      0.006    -46.775      0.000        -0.315    -0.289
ave_lot_size_per_unit            0.0856      0.002     36.275      0.000         0.081     0.090
sum_nonresidential_units        -0.0005      0.001     -0.659      0.510        -0.002     0.001
sum_residential_units            0.0089      0.005      1.872      0.061        -0.000     0.018
==============================================================================
Omnibus:                    20323.407   Durbin-Watson:                   1.498
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           110025.016
Skew:                          -0.822   Prob(JB):                         0.00
Kurtosis:                       7.713   Cond. No.                     1.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
Time to execute model 'rsh_estimate': 5.35s
Total time to execute: 5.35s